
.fParrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
    opacity: 77%;
}

.tituloParrafo{
font-size: 24px;
font-family: 'Roboto', sans-serif;
font-weight: 800;
text-align: justify
}

.textSale
{
font-size: 96px;
font-weight: 700;
}

.iconBlock{
    display:inline;
}
.wrapper{
    display:grid;
   
    place-items:center
  }


  /* limitar texto en pantalla pequeña */



  @media only screen 
   and (max-width : 400px) {

     .limit{
       color: aqua;
        height: 15%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: none
     }
  
     .textSale
{
font-size: 46px;
font-weight: 700;
}
  
}



.ventana{
  background-color:rgb(245, 245, 245);
  width:600px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:-250px;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#IrVentanaFlotante:target{
  opacity:1;
  pointer-events:auto;
}
.opcion{/*width: 100px;
        background-color:yellow;
border:1px solid black;*/}
